In [3]:
# Dictionary in python
#- mutable
#- index collection by key and values
#- unorderd
#- key must be unique

In [5]:
my_dict ={"name":"peter","age":18, "city" : "wardha"}

In [6]:
my_dict

{'name': 'peter', 'age': 18, 'city': 'wardha'}

In [7]:
my_dict['age']

18

In [9]:
my_dict['name']

'peter'

In [10]:
# get method

In [11]:
my_dict.get("gender","male")

'male'

In [12]:
my_dict.get("name","unkonwn")

'peter'

In [13]:
#adding and changing

In [14]:
my_dict['city']='nagpur'

In [15]:
my_dict

{'name': 'peter', 'age': 18, 'city': 'nagpur'}

In [16]:
my_dict['gender']='male'

In [17]:
my_dict

{'name': 'peter', 'age': 18, 'city': 'nagpur', 'gender': 'male'}

In [18]:
#fromkeys method

In [25]:
keys=['id','name','gender','age']

In [26]:
values=[101,'peter','male',18]

In [29]:
dict1=dict.fromkeys(keys,None)

In [30]:
dict1

{'id': None, 'name': None, 'gender': None, 'age': None}

In [31]:
dict1=dict.fromkeys(keys,values)

In [32]:
dict1

{'id': [101, 'peter', 'male', 18],
 'name': [101, 'peter', 'male', 18],
 'gender': [101, 'peter', 'male', 18],
 'age': [101, 'peter', 'male', 18]}

In [33]:
my_dict

{'name': 'peter', 'age': 18, 'city': 'nagpur', 'gender': 'male'}

In [34]:
my_dict.values()

dict_values(['peter', 18, 'nagpur', 'male'])

In [35]:
my_dict.keys()

dict_keys(['name', 'age', 'city', 'gender'])

In [36]:
#pop for remove

In [37]:
my_dict.pop('age')

18

In [38]:
my_dict

{'name': 'peter', 'city': 'nagpur', 'gender': 'male'}

In [40]:
#nested dictionary

In [44]:
student={
  "student1" : {"name":"tushar","age":33},
  "student2" : {"name":"peter","age":18}
}

In [47]:
student

{'student1': {'name': 'tushar', 'age': 33},
 'student2': {'name': 'peter', 'age': 18}}

Loops
- For loop
- While loop

In [48]:
fruits=['apple','banana','cherry']

In [49]:
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [50]:
# in keyword always use for iteration
# iteration mean one by one accessing the elements

In [51]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [53]:
total = 0
for i in range(1,11):
  total = total + i
  #total += i
print(total)

55

In [56]:
num=5
for i in range(1,11):
  print(f"{num} x {i} = {num*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [59]:
for i in range(1,11):
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [63]:
#nested loop for 1 to 3 table
for i in range(1,4):
  for j in range(1,6):
    print(f"{i} x {j} = {i*j}")
    print()

1 x 1 = 1

1 x 2 = 2

1 x 3 = 3

1 x 4 = 4

1 x 5 = 5

2 x 1 = 2

2 x 2 = 4

2 x 3 = 6

2 x 4 = 8

2 x 5 = 10

3 x 1 = 3

3 x 2 = 6

3 x 3 = 9

3 x 4 = 12

3 x 5 = 15

In [64]:
# While loop

In [66]:
i=1
while i<=10:
  print(i)
  i+=1
  #i=i+1

1
2
3
4
5
6
7
8
9
10

In [68]:
#reverse the number

In [70]:
num=123
rev=0
while num>0:
  rev=rev*10+ num% 10
  num=num//10
print(rev)

321

In [71]:
num=123

In [72]:
num%10

3

In [73]:
num//10

12

List Comperhension

In [74]:
# square 1 to 5

In [78]:
for i in range(1,5):
 sq= i*i
 print(sq)

1
4
9
16

In [81]:
sq=[]
for i in range(1,5):
 sq.append(i**2)
print(sq)

[1, 4, 9, 16]

In [82]:
#list comperhension
sq=[x**2 for x in range(1,5)]

In [83]:
sq

[1, 4, 9, 16]

In [84]:
#set comperhension
sq={x**2 for x in range(1,5)}

In [85]:
sq

{1, 4, 9, 16}

In [86]:
#dictionary comperhension

In [87]:
sq={x:x ** 2 for x in range(1,5)}

In [88]:
sq

{1: 1, 2: 4, 3: 9, 4: 16}

In [89]:
#tuple comperhension
sq=(x**2 for x in range(1,5))

In [95]:
tuple(sq)

()

Conditional satement
- if else
- if else elif

In [97]:
age= 18
if age >=18:
 print('you are eligible for voting')
else:
  print('you are not eligible for voting')

you are eligible for voting

In [100]:
age= input('enter your age')
age= int(age)
if age >=18:
 print('you are eligible for voting')
else:
  print('you are not eligible for voting')

enter your age18
you are eligible for voting

In [102]:
usename= 'admin'
password='admin123'
user= str(input('enter your username'))
passw= str(input('enter your password'))
if usename == user and password == passw:
  print('login successfully')
else:
  print('invalid username or password')

enter your usernameadmin
enter your passwordadmin123
login successfully

In [104]:
marks=75
if marks >=90:
  print('grade A')
elif marks >=80:
  print('grade B')
elif marks >=70:
  print('grade C')
elif marks >=60:
  print('grade D')

grade C

In [105]:
#comperhension

In [106]:
even_number=[x for x in range(1,11) if x%2 ==0]

In [107]:
even_number

[2, 4, 6, 8, 10]